<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Wildfire</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="api/bootstrap-3.3.4-dist/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script src="api/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <script src="api/d3/d3.js" charset="utf-8"></script>
    <script src="api/d3.layout.cloud.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOowMXmkmCF0MPutZNRVRaLsAEeQdkBWw">
    </script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="api/lodash/dist/lodash.compat.js"></script>
    <!--<script src="api/angular-google-maps/dist/angular-google-maps.js"></script>-->

    <script type="text/javascript" src="script.js"></script>
  </head>
  <body ng-app="twitterwildfire">
    <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
	<ul class="sidebar-nav">
	  <li class="sidebar-brand">
            <a href="#">Twitter Wildfire</a>
	  </li>
	  <li><a href="#/map">Map</a></li>
	  <li><a href="#/overview">Overview</a></li>
	  <li><a href="#/search">Search</a></li>
	  <li><a href="#/net">Network</a></li>
	  <li><a href="#/cloud">Word cloud</a></li>
	  <li><a href="#/cloud">Tag cloud</a></li>
	  <li><a href="#/relation-table">Relation table</a></li>
	  <li><a href="#/relation-net">Relation netwotk</a></li>
	</ul>
      </div><!-- /#sidebar-wrapper -->
      <div id="page-content-wrapper">
	<div class="container-fluid">
	  <ui-view></ui-view><!--div id="map-content"></div-->
	</div><!-- /container-->
      </div><!-- page-content-wrapper -->
    </div><!-- /#wrapper -->
  </body>
</html>
